.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding-bottom: 1rem;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* oculta scrollbar */
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
}

.product-card img {
  height: 180px;
  object-fit: cover;
}
